<html>
  <head>
    <title>Lorem ipsum</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">

    <style>
      body {
        background-color: #D6D2BB;
      }
      
      * {
        font-family: "Bricolage Grotesque", sans-serif;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
        font-variation-settings: "wdth" 100;
      }

      p {
        font-size: 12px;
      }

      img {
        max-width: 100%;
        height: 100%
        object-fit: cover;
      }

      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }

      .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
  
      .column {
        float: left;
        width: 50%;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

      .square {
        width: 480;
        height: 480;
      }
    </style>
  </head>
  <body>
    <div class="row vertical-center">
      <div class="column">
        <div class="square">
          <img src="/img/placeholder.png" alt="Placeholder Image" />
        </div>
      </div>
      <div class="column">
        <div class="square">
          <h1>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </h1>
          <p>
            Aliquam magna eros, pellentesque et turpis ut, faucibus lobortis nunc.
            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Aliquam erat volutpat.
            Duis vehicula maximus nibh a mollis.
            Mauris suscipit at turpis sit amet tempus.
            Vestibulum hendrerit nunc vel nisl egestas faucibus.
            Ut at interdum urna.
            Phasellus a porta velit, vitae dapibus massa.
            Phasellus condimentum ornare iaculis.
            Donec in sem at mauris lacinia aliquet sed at enim.
            Maecenas gravida magna sem, non pharetra est iaculis eu.
            Suspendisse pretium justo quam, ac auctor diam mattis at.
            Nam molestie dui vitae suscipit sollicitudin.
            Curabitur sodales vestibulum urna, ac mattis magna bibendum vitae.
            Nullam sed metus massa.
            Vestibulum ullamcorper, est tincidunt semper blandit, nulla enim tristique erat, ut tempus nibh dolor ac felis.
          </p>
          <p>
            Nam varius at sem a iaculis.
            In volutpat dui et dictum placerat.
            Nam iaculis libero ut metus congue consequat.
            In hac habitasse platea dictumst.
            Nunc sed justo eu orci vulputate viverra.
            Curabitur fringilla tristique sapien, eget congue mi aliquam id.
            Donec pharetra augue at vestibulum venenatis.
            Quisque rhoncus congue libero non ornare.
            Aenean auctor urna sapien, id pellentesque augue rhoncus elementum.
            Vestibulum at mauris volutpat tellus lacinia lacinia suscipit ac est.
            Mauris laoreet purus arcu, at tristique tortor molestie at.
            Aenean auctor consectetur nunc.
            Cras varius tellus turpis, et vestibulum arcu condimentum et.
            Suspendisse potenti.
          </p>
          <p>
            Vivamus ac mauris fermentum, ornare felis eu, condimentum nulla.
            Aenean et risus vel sapien porttitor tempus.
            Nunc dignissim imperdiet nulla, sit amet aliquet odio efficitur eu.
            Donec quis dui sit amet nibh tincidunt elementum.
            Integer eu dolor augue.
            Vestibulum elementum odio ultricies sapien venenatis consequat.
            Nulla facilisi.
            Morbi porta, enim sed vestibulum fermentum, lorem mi aliquam mauris, at vulputate ex turpis non ligula.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            Curabitur fringilla ultrices turpis, vel sagittis lorem molestie at.
            Fusce in commodo velit, vitae semper nunc.
            Duis tempus pretium odio, sed suscipit ligula.
            Nam accumsan tincidunt ligula et condimentum.
            Aliquam ac bibendum turpis.
            Nulla hendrerit odio eu felis ultrices dapibus at a eros.
          </p>
          <p>
            Mauris volutpat ex justo, nec consequat nibh suscipit a.
            Nunc aliquet a enim accumsan feugiat.
            In lobortis justo at nibh placerat elementum.
            Phasellus sit amet est erat.
            Interdum et malesuada fames ac ante ipsum primis in faucibus.
            Curabitur malesuada velit at felis bibendum eleifend.
            Nunc auctor pretium pharetra.
            Sed nec enim augue.
            Aenean tincidunt quam sed dui ultrices, vitae tincidunt quam pharetra.
            Maecenas malesuada malesuada est, eu bibendum odio laoreet sed.
            Donec faucibus ante eget libero molestie volutpat.
            Aenean vitae dictum turpis.
            Maecenas varius sapien ipsum, vel placerat leo vestibulum ut.
            Fusce vel maximus dolor.
            Aenean vehicula ipsum metus, nec fringilla nibh euismod eget.
            Morbi pulvinar nisi non odio dictum sodales.
          </p>
          <p>
            Aliquam erat volutpat.
            Sed pulvinar ornare enim, in tincidunt neque sagittis nec.
            Vestibulum quis luctus lacus.
            Cras vel laoreet enim, at mattis libero.
            Quisque volutpat placerat blandit.
            Pellentesque quis facilisis massa, eget venenatis tellus.
            Curabitur ornare nunc gravida velit semper feugiat.
            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Sed in ante et ante eleifend tincidunt.
            Maecenas risus ex, tempus a elit dictum, pretium congue nulla.
            Donec sed odio vitae diam vestibulum ornare.
            Sed in sem id nibh pharetra fringilla non et enim.
            Morbi non tellus ultricies, maximus sapien ut, egestas tellus.
            Pellentesque sodales suscipit sagittis.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
